@{
    static string UnZipStr(string str) {
        var input = Convert.FromBase64String(str);

        using (var output = new System.IO.MemoryStream(input)) {
            using (var gzip = new System.IO.Compression.DeflateStream(output, System.IO.Compression.CompressionMode.Decompress)) {
                using (var reader = new System.IO.StreamReader(gzip, System.Text.Encoding.UTF8)) {
                    return reader.ReadToEnd();
                }
            }
        }
    }
}

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated) {
        <li class="nav-item">
            @*<form class="form-inline" asp-page="Logout"
                      asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                      method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>*@
            <form class="form-inline" asp-controller="Auth" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else {
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-page="Login">Login</a>*@
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>